*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  max-width: 1500px;
  width: 100%;
  min-height: 100vh;
  margin: 0  auto;
  box-shadow: 1px 2px 6px #08a05c;
  padding: 0px 15px;
  box-sizing: border-box;
}
/*-------------------HEADER---------------------*/

header{
  width: 97%;
  min-height: 100px;
  max-width: 1480px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 7px 15px #08a05c50;  
}

a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover{
  color: #2d654c;
}
li{
  list-style: none;
}
header ul{
  display: flex;
  padding: 0;
  margin: 0;
}
header ul li {
  padding: 0 1rem;
}
header ul li a{
  font-weight: bold;
}
header .cart {
  position: relative;
  cursor: pointer;
}
header .cart box-icon{
  width: 160%;
  height: 160%;
}
header .cart span{
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  width: 2.0rem;
  height: 2.0rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: crimson;
}

/*------------INICIO--------------*/
.inicio{
  width: 100%;
  margin: 0% auto;
  padding-top: 10rem;
}
.inicio h1{
  font-size: 2.0rem;
  color: #08a05c;
}
.inicio img{
  width: 100%;
}

/*------------PRODUCTOS-----------*/
.title{
  font-size: 2rem;
  padding: 10rem 0 0 0;
  color: #08a05c;
}
.productos {
  padding: 5rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}
.producto {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.2);
  border: 6px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  
}
.producto:hover{
  border: 6px solid #08a05c55;
}
.producto_img img{
  width: 310px;
}
.producto_footer{
  padding: 1rem;
}
.producto_footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color: #1a202c;
  font-family:  Helvetica, sans-serif;
}
.producto_footer p{
  font-weight: 700;
  color: rgba(0, 0, 0, 0.555);
  text-transform: uppercase;
  font-size: 18px;
}
.producto_footer .price{
  font-size: 2rem;
  counter-reset: #1a202c;
}
.producto .buttom{
  width: 100%;
  height: 45%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;

}
.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;

}
.buttom button{
  background-color: blue;
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  padding: 0 1rem;

}
.buttom div{
  background-color: #08a05c;
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
} 
.buttom div a{
  color: white;
  font-weight: 700;
}
.buttom div a:hover{
  color: white;
}


/*-----------CARRITO---------*/

.carritos{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2%;
  padding-bottom: 5rem;
  visibility: hidden;

}
.carrito{
  position: fixed;
  top: 40%;
  margin: 50%;
  transform: translate(-50%,-200%);
  scale: .9;
  width: 50%;
  height: 80%;
  border-radius: 8px;
  overflow-x: scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0; 
  visibility: hidden;
  
}
.carrito h2{
  text-align: center;
  font-size: 2rem;

}
.carritos.show{
  visibility: visible;
}
.carrito.show{
  transform: translate(-50%, -200%) scale(1);
  opacity: 1;
  visibility: visible;

}
.carrito__close box-icon{
  display: inline-block;
  width: 60px;
  height: 60PX;
  cursor: pointer;
  transform: all 300ms ease-in-out;
  margin: 3rem 0 0 2rem;
  
}
.carrito__close box-icon:hover{
  fill: crimson

}
.carrito__center{
  width: 95%;
  margin: 0% auto;
}
.carrito__item{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 95%;
  margin: 2rem auto;
  box-shadow: 0 3px 7px #08a05c;
  border-radius: 5px;
}
.carrito__item div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrito__item img{
  width: 8rem;
}
.carrito__item h3{
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
}
.carrito__item .price{
  color: #1a202c;
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
  margin-left: -2rem;
}
.carrito__item box-icon{
  fill: #08a05c;
  width: 30px;
  height: 40px;
  cursor: pointer;
  margin-top: .3rem;
}
.carrito__item .cantidad{
  font-size: 2rem;
  font-weight: bold;
}
.carrito__item .remove__item box-icon{
  width: 50px;
  height: 60px;
  fill: crimson;
  margin-top: 2rem;
}
.carrito__footer{
  text-align: center;
  margin-bottom: 3rem;
}
.carrito__footer h3{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.carrito__footer .btn {
  display: inline-block;
  padding: .3rem 1rem;
  font-size: 1.7rem;
  background-color: #36c783;
  border: 0%;
  outline: 0%;
  cursor: pointer;

}

.carrito__footer .btn:hover{
  background-color: #05015929;
  color: rgb(240, 18, 58);
}




/*------------MEDIA-----------*/
@media only screen and (max-width: 600px){
  header ul {
    display: none;
  } 
}

@media only screen and (max-width: 1000px){
  .carrito__item {
    width: 50%;
  } 
}

@media only screen and (max-width: 1000px){
  .carrito {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .carrito__item.h3{
    font-size: 1.3rem;
  } 
}



@media only screen and (max-width: 450px){
  .carrito__item.h3 {
    display: none;
  }
  .carrito__item .remove__item {
    width: 20px;
    height: 20px;
  }
  .carrito__item box-icon{
    width: 25px;
    height: 25px;
  }
}
